body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

a:link,
a:visited {
	color: #050505;
	text-decoration: none;
}

a:hover,
a:active {
	color: white;
	background-color: navy;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #ccc;
}

.tg td {
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #fff;
}

.tg th {
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #f0f0f0;
}

.tg .tg-cly1 {
	text-align: left;
	vertical-align: middle
}

.tg .tg-1wig {
	font-weight: bold;
	text-align: left;
	vertical-align: top
}

.tg .tg-yla0 {
	font-weight: bold;
	text-align: left;
	vertical-align: middle
}

.tg .tg-0lax {
	text-align: left;
	vertical-align: top
}
